<ion-content id="menu">
    <div class="conteudo">
        <div id="corpo">
            <div class="icon">
                <ion-icon name="settings"></ion-icon>
                <p>Configurações</p>
            </div>
            <div class="icon" style="margin-bottom: 5px;" (click)="logOut()">
                <ion-icon name="log-out"></ion-icon>
                <p>Sair</p>
            </div>
        </div>
        <div id="botao" (click)="open()">
            <ion-icon name="menu"></ion-icon>
        </div>
    </div>
</ion-content>