<ion-content id="home">
    <form name="formId" [formGroup]="formId" hidden>
        <ion-input class="id" name="id" formControlName="sId"></ion-input>
        <ion-input class="nomeUser" name="nomeUser" formControlName="sNome"></ion-input>
    </form>
    <div id="header">
        <img src="../../assets/img/besafeNamelogo.png" alt="">
    </div>
    <div id="conteudo">
        <div id="publicar">
            <form name="formPublicacao" [formGroup]="formPublicacao">
                <ion-icon id="person" name="person"></ion-icon>
                <textarea formControlName="sTexto" #inputPost id="inputPost" rows="2" (keyup)="resize()" placeholder="O que está acontecendo?"></textarea>
                <ion-icon (click)="onSubmit('publicar')" name="checkmark-circle-outline"></ion-icon>
            </form>
        </div>
        <div id="feed-title">
            <div id="feed-icon">
                <ion-icon name="paper"></ion-icon>
                <h3>Feed</h3>
            </div>
            <div id="pesquisar">
                <textarea #inputPesquisar id="inputPEsquisar" rows="1" name="sPesquisa" placeholder="Pesquisar"></textarea>
                <ion-icon name="search"></ion-icon>
            </div>
        </div>
        <div id="feed">
            <div *ngFor="let post of arrObjPost" class="publicacao">
                <ion-input class="postId" name="postId" hidden>{{post._id}}</ion-input>
                <div (click)="opcoes()" class="pessoa">
                    <ion-icon name="person"></ion-icon>
                    <p>{{post.nomeuser}}</p>
                </div>
                <p>{{post.texto}}</p>
                <div class="buttons">
                    <button (click)="comentario($event)" class="comentario">
                        <ion-icon name="chatboxes"></ion-icon>
                    </button>
                    <button (click)="denuncia('pub')" class="denuncia">
                        <ion-icon name="alert"></ion-icon>
                    </button>
                </div>
                <div class="comentarios" hidden>
                    <div id="comentar">
                        <form name="formComentario" [formGroup]="formComentario">
                            <ion-icon id="usuario" name="person"></ion-icon>
                            <textarea formControlName="sComentario" #inputComentario id="inputComentario" rows="1" (keyup)="resize()" name="sComentario" placeholder="Faça um comentário"></textarea>
                            <ion-icon (click)="onSubmit('comentar')" name="checkmark-circle-outline"></ion-icon>
                        </form>
                    </div>
                    <div *ngFor="let comentario of arrObjComent" class="publicacao">
                        <div (click)="opcoes()" class="pessoa">
                            <ion-icon name="person"></ion-icon>
                            <p>{{comentario.nomeuser}}</p>
                        </div>
                        <p>{{comentario.texto}}</p>
                        <div class="buttons">
                            <button (click)="denuncia()" class="denuncia">
                                    <ion-icon name="alert"></ion-icon>
                                </button>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <div hidden id="mensagemDenuncia">
        <p>{{denunciaTexto}}</p>
        <div id="escolha">
            <ion-button (click)="dismiss()" color="light">Não</ion-button>
            <ion-button (click)="prosseguir()" color="dark">Sim</ion-button>
        </div>
    </div>

    <div hidden id="opcoes">
        <ion-icon id="close" (click)="dismissOpt()" name="close-circle-outline"></ion-icon>
        <p>Ver perfil</p>
        <hr>
        <p (click)="denunciaUsuario()">Denunciar usuário</p>
    </div>
</ion-content>